@model BookRental.Models.IndividualButtonPartial

<a type="button" class="btn @Model.ButtonType" href="@Url.Action(Model.Action)@Model.ActionParameter">
    <span class="glyphicon glyphicon-@Model.Glyph"></span>
    <span>@Model.Text</span>
</a>
